## Считывание данных

In [32]:
import pandas as pd

In [38]:
data = pd.read_csv('data/data.csv')
data.head()

,qn1,qn2,qn3,qn4,qn5,qn6,qn7,qn8,qn9,qn10,qn11,target
0,NaN,0.496372,1.356517,NaN,0.201783,47.104283,2.017825e-01,1.191783,3.513918e+07,0.365426,1.624946,0
1,247.899905,NaN,NaN,2.009905,NaN,NaN,1.223077e+10,3.219905,1.211625e+07,NaN,NaN,0
2,NaN,-1.168700,-1.292688,NaN,-1.292688,356.428482,-1.292688e+00,-0.012688,1.516536e+05,0.088284,-0.151629,0
3,13.669695,0.669695,NaN,-0.315305,-1.330305,NaN,1.170006e+08,0.339695,5.068618e+05,-0.330305,NaN,0
4,102.404032,-0.118875,12.493512,0.252032,-0.595860,79.846382,1.512900e+10,3.304032,1.080490e+05,-0.541999,-0.107430,0

## Однофакторный анализ

### Availability

In [39]:
# считаем долю не NaN значений
availability = data.notna().sum() / data.shape[0]
availability

qn1       0.413
qn2       0.927
qn3       0.920
qn4       0.413
qn5       0.927
qn6       0.916
qn7       1.000
qn8       0.836
qn9       1.000
qn10      0.926
qn11      0.914
target    1.000
dtype: float64

In [40]:
# выбираем те признаки, у которых доля Availability >= 0.8
availability[availability >= 0.8]

qn2       0.927
qn3       0.920
qn5       0.927
qn6       0.916
qn7       1.000
qn8       0.836
qn9       1.000
qn10      0.926
qn11      0.914
target    1.000
dtype: float64

In [41]:
# оставляем в данных только те признаки, у которых availability >= 80%
data = data[availability[availability >= 0.8].index]
data.head()

,qn2,qn3,qn5,qn6,qn7,qn8,qn9,qn10,qn11,target
0,0.496372,1.356517,0.201783,47.104283,2.017825e-01,1.191783,3.513918e+07,0.365426,1.624946,0
1,NaN,NaN,NaN,NaN,1.223077e+10,3.219905,1.211625e+07,NaN,NaN,0
2,-1.168700,-1.292688,-1.292688,356.428482,-1.292688e+00,-0.012688,1.516536e+05,0.088284,-0.151629,0
3,0.669695,NaN,-1.330305,NaN,1.170006e+08,0.339695,5.068618e+05,-0.330305,NaN,0
4,-0.118875,12.493512,-0.595860,79.846382,1.512900e+10,3.304032,1.080490e+05,-0.541999,-0.107430,0