In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('data/data.csv')
data

,qn1,qn2,qn3,qn4,qn5,qn6,qn7,qn8,qn9,qn10,qn11,target
0,NaN,0.496372,1.356517,NaN,0.201783,47.104283,2.017825e-01,1.191783,3.513918e+07,0.365426,1.624946,0
1,247.899905,NaN,NaN,2.009905,NaN,NaN,1.223077e+10,3.219905,1.211625e+07,NaN,NaN,0
2,NaN,-1.168700,-1.292688,NaN,-1.292688,356.428482,-1.292688e+00,-0.012688,1.516536e+05,0.088284,-0.151629,0
3,13.669695,0.669695,NaN,-0.315305,-1.330305,NaN,1.170006e+08,0.339695,5.068618e+05,-0.330305,NaN,0
4,102.404032,-0.118875,12.493512,0.252032,-0.595860,79.846382,1.512900e+10,3.304032,1.080490e+05,-0.541999,-0.107430,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,96.034419,-0.790613,4.516945,-0.587581,-0.932709,121.928824,5.567473e+08,1.184419,7.064516e+07,-0.635119,-0.107144,0
996,98.122615,1.297583,6.605141,1.669615,1.155488,124.017020,5.567473e+08,3.272615,1.022214e+08,1.453077,1.981052,0
997,NaN,0.625107,-0.300761,NaN,-0.300761,37.283289,-3.007611e-01,NaN,4.344851e+05,0.154618,9.795721,0
998,28.242778,0.548291,2.265762,23.831778,0.243139,131.022643,5.154430e+06,0.722778,4.013175e+06,0.643669,1.665923,0
999,NaN,0.630213,0.353970,NaN,0.353970,7.377300,3.539701e-01,NaN,1.524640e+06,0.608970,1.735649,0